* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;

}

.hero {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    margin: 0;
    padding: 0;
    min-width: 350px;
    max-width: 633px;
    height: 100vh;
    box-sizing: border-box;
}

#heroBGImage img {
    min-width: 350px;
    max-width: 45vw;
    margin-bottom: -4px;
    height: 100vh;
    /* z-index: -1; */
}

.heroCard {
    background-color: black;
    opacity: .25;
    position: absolute;
    top: 15rem;
    height: clamp(5rem, 15rem, 15rem);
    min-width: 350px;
    max-width: 45vw;
    width: 100%;
    display: flex;
    justify-content: center;
}

#heroCardLogo {
    border: solid 2px greenyellow;
    display: flex;
    position: relative;
    top: 5rem;
    width: auto;
    height:  clamp(5vh, 10vh, 15vh);
}

#heroCardText {
    border: solid 2px greenyellow;
    display: flex;
    position: relative;
    top: 5rem;
    text-align: center;
    color: white;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    font-family: 'Amatic SC', cursive;
    font-size: clamp(5vh, 10vh, 15vw);
    line-height: 0;
}

#heroPhotoCaption {
    color: white;
    position: absolute;
    width: 100%;
    min-width: 350px;
    max-width: 45vw;
    bottom: 5px;
    text-align: center;
}

#heroPhotoCaption a {
    color: white;
}